@charset "utf-8";

/*
 * component-searchProduct-1部分样式
 */
component-searchProduct-1{
  width: 100%;
  display: block;
  &>.component-searchProduct-content{
    width: 100%;
    .searchProduct-header{
      height:88px;
      &>.content{
        width: 750px;
        height: 88px;
        background:#fff;
        border-bottom: solid 1px #dfdfdf;
        position: fixed;
        top: 88px;
        left: 0;
        z-index: 500;
        &>li {
          width: 33.3333333%;
          float: left;
          color: #333333;
          font-size: 27px;
          font-weight: 500;
          line-height: 88px;
          text-align: center;
          position: relative;
          & > .sort {
            width: 28px;
            height: auto;
            position: absolute;
            top: 30px;
            left: 153px;
          }
          &.active,
          &:active{
            color: #b4282d;
          }
        }
      }
    }
    .searchProduct-body-item{
      padding-top: 20px;
      background: #fff;
      overflow: hidden;
      &>.item-content{
        width: 50%;
        margin-right: -3px;
        margin-bottom: 30px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        &:nth-last-of-type(1),
        &:nth-last-of-type(2){
          margin-bottom: 20px;
        }
        &:nth-of-type(2n+1){
          padding: 0 10px 0 15px;
        }
        &:nth-of-type(2n){
          padding: 0 15px 0 10px;
        }
        & > a{
          width: 100%;
          height: auto;
          display: block;
          &>.imgBox{
            width: 350px;
            height: 350px;
            padding-top: 35px;
            padding-left: 35px;
            background-color: #f4f4f4;
            position: relative;
            &>div{
              width: 280px;
              height: 280px;
              background-color: #ffffff;
              position: relative;
              &>img{
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                &.corner_mark{
                  position: absolute;
                  left: 0;
                  top: 0;
                  padding: 0;
                  margin: 0;
                  max-width: 120px;
                  height: auto;
                }
              }
              &>.noImg{
                display: inline-block;
                font-size: 28px;
                font-weight: 400;
                line-height: 64px;
                color: #999999;
                letter-spacing: 5px;
                padding-top: 148px;
              }
            }
          }
          &>.description {
            width: 350px;
            height: 58px;
            color: #9F8A60;
            background-color: #F1ECE2;
            overflow: hidden;
            & >.text {
              width: calc(100% - 140px);
              height: 58px;
              float: left;
              font-size: 22px;
              font-weight: 500;
              line-height: 59px;
              text-align: left;
              padding-left: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
            }
            & > .tagBox {
               float: right;
               width: 138px;
               height: 30px;
               padding-right: 10px;
               margin-top: 14px;
               display: inline-block;
               overflow: hidden;
               & > .icon {
                 width: 60px;
                 height: 24px;
                 float: right;
                 margin: 3px 3px 0 0;
                 display: block;
                 background-position: center;
                 background-repeat: no-repeat;
                 &.icon_tag1{
                   background-image: url("/images/platform/tag/icon_tag1.png");
                 }
                 &.icon_tag2{
                   background-image: url("/images/platform/tag/icon_tag2.png");
                 }
                 &.icon_tag3{
                   background-image: url("/images/platform/tag/icon_tag3.png");
                 }
                 &.icon_tag4{
                   background-image: url("/images/platform/tag/icon_tag4.png");
                 }
               }
            }
          }
        }

        &>.textGroup {
          width: 350px;
          padding: 0 3px;
          &>.name{
            width: 100%;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            padding-left: 10px;
            &>a{
              font-size: 25px;
              font-weight: 500;
              color: #333;
              line-height: 60px;
            }
          }
          &>li{
            overflow: hidden;
            &>.price{
              max-width: calc(100% - 75px);
              height: 38px;
              float: left;
              font-size: 30px;
              font-weight: 500;
              color: #b4282d;
              line-height: 38px;
              margin-left: 7px;
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &>.imgBox{
              width: 56px;
              margin-top: 1px;
              display: inline-block;
              float: right;
              &>img {
                width: 34px;
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
    .isLoading{
      width: 100%;
      height: 56px;
      margin: 20px 0;
      background-color: #eeeeee;
      overflow: hidden;
      display: block;
      &>.component-load-text{
        width: 100%;
        height: 56px;
        text-align: center;
        &>span{
          display: inline-block;
          font-size: 27px;
          height: 56px;
          line-height: 58px;
          color: #999;
          letter-spacing: 5px;
        }
      }
    }
    .empty_search{
      width: 100%;
      text-align: center;
      position: relative;
      & > img{
        width: 320px;
        height: 320px;
        display: inline-block;
        position: absolute;
        top: 80px;
        left: 210px;
      }
      &>.text{
        height: 88px;
        margin: 0 auto;
        display: inline-block;
        font-family: PingFangSC-Light,helvetica,'Heiti SC';
        font-size: 30px;
        color: #888888;
        font-weight: 400;
        letter-spacing: 8px;
        position: absolute;
        top: 418px;
        left: 10px;
        bottom: 0;
        right: 0;
      }
    }
  }
}
