@charset "utf-8";

/*
 * component-share-1部分样式
 */
component-share-1{
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  &>.component-share-content{
    width: 100%;
    height: 100%;
    text-align: center;
    &>p{
      font-size: 42px;
      color: #333;
      margin: 100px 50px 50px 50px;
      line-height:80px;
    }
    &>img{
      width:600px;
      height:600px;
    }
  }
}
