@charset "utf-8";

/*
 * component-alert-discount-1部分样式
 */
component-alert-discount-1{
  width:100%;
  height:100%;
  display:block;
  overflow:hidden;
  &>.component-alert-discount-content{
    position: fixed;
    top:0;left:0;
    z-index:999999;
    background:rgba(0,0,0,.72);
    width:100%;
    height:100%;
    &>.component-alert-discount-alert{
      width:678px;
      height:960px;
      position:absolute;
      left:50%;top:50%;
      margin-left:-365px;
      margin-top:-480px;
      background:url('/images/platform/discount/discount_bgImg.png') no-repeat center;
      &>.msg-btn{
        width:320px;
        height:105px;
        position:absolute;
        bottom:190px;left:210px;
      }
      &>.cancel-btn{
        width:70px;
        height:70px;
        position:absolute;
        bottom:0;left:330px;
      }
    }
  }
}
