@charset "utf-8";

/* DOM样式 */
@import "../config/config-style-1";

/* 元素样式 */
@import "../element/element-a-1";
@import "../element/element-btn-1";
@import "../element/element-input-1";


/* 组件样式 */
@import "../module/error-1";
@import "../module/header-1";
@import "../module/header-2";
@import "../module/nav-1";
@import "../module/banner-1";
@import "../module/advertising-1";
@import "../module/footer-1";
@import "../module/search-1";
@import "../module/goodsDetail-1";
@import "../module/message-1";
@import "../module/alertDefault-1";
@import "../module/alertDiscount-1";
@import "../module/footer-img-1";
@import "../module/sideFixed-1";
@import "../module/floor-1";
@import "../module/login-1";
@import "../module/licence-1";
@import "../module/orderDetail-1";
@import "../module/shopCart-1";
@import "../module/pay-1";
@import "../module/orderSure-1";
@import "../module/personal-1";
@import "../module/shop-show-1";
@import "../module/amount-access-1";



