<div id="alertDiscount-1-{{sign}}" v-cloak>
    <div class="alertDiscount-1-content" v-if="isShow">
        <div class="alertDiscount-show">
            <div class="msg-btn"></div>
            <div class="cancel-btn"></div>
        </div>
    </div>
</div>