<div id="prompt-1-{{sign}}" v-cloak>
    <div class="prompt-1-content" v-if="content">
        <span class="icon"><span class="fa fa-volume-up fa-fw"></span></span>
        <span class="body">{{!content}}</span>
    </div>
</div>