# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
cache_modules/
install_modules/
server_modules/
out
gen
