<div class="component-register-content">
    <div class="component-register-account {{account_state}}">
        <span class="iconLeft"></span>
        <input type="tel" pattern="[0-9]*" id="account" name="account" placeholder="请输入手机号码..." can-value="region.request.account"/>
        <span class="iconRight icon_clear"></span>
    </div>
    <div class="component-register-validation {{validation_state}}">
        <span class="iconLeft"></span>
        <input type="text" id="validation" name="validation" placeholder="请输入验证码..." can-value="region.request.validation"/>
        <span class="textRight getValidation">
            <span class="doing">发送中<span class="val" style="color:red;padding:0 3px;"></span>s</span>
            <span class="control">获取验证码</span>
        </span>
    </div>
    <div class="component-register-password {{password_state}}">
        <span class="iconLeft"></span>
        <input type="password" id="password" name="password" placeholder="请输入6-12位密码..." can-value="region.request.password"/>
        <span class="iconRight icon_eye"></span>
    </div>
    <div class="component-register-confirmPassword  {{confirmPassword_state}}">
        <span class="iconLeft"></span>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="请再次确认密码..." can-value="region.request.confirmPassword"/>
        <span class="iconRight icon_eye"></span>
    </div>
    <div class="component-register-invitationCode">
        <span class="iconLeft"></span>
        <input type="text" id="invitationCode" name="invitationCode" placeholder="请输入邀请码...(选填)" can-value="region.request.invitationCode"/>
        <span class="iconRight icon_clear"></span>
    </div>
    <a href="javascript:void(0)" class="btn component-register-registerBtn {{registerBtn_state}}">确认注册</a>
</div>