{{#region.config.isShow}}
<div class="component-alert-discount-content">
    <div class="component-alert-discount-alert">
        <div class="msg-btn"></div>
        <div class="cancel-btn"></div>
    </div>
</div>
{{/region.config.isShow}}