@charset "utf-8";

/*
 * error-1样式
 */
[id^="error-1-"] {
  width: 100%;
  min-width: 1240px;
  margin-bottom: 10px;
  display: block;
}
.error-1-content {
  width: 1240px;
  height: 100%;
  margin: auto;
  display: block;
  position: relative;
  background-image: url("/images/platform/page/error.png");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  & > a {
    width: 200px;
    padding: 3px 0 3px 8px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    letter-spacing: 8px;
    border-radius: 10px;
    background-color: #38a0dd;
    display: inline-block;
    position: absolute;
    top: 85%;
    left: 45%;
  }
}
