@charset "utf-8";

/*
 * header-1部分样式
 */
[id^="header-1-"]{
  width: 100%;
  min-width: 1240px;
  background-color: #ffffff;
  display: block;
}
.header-1-top-title {
  width:100%;
  background:#f2eeea;
  border-bottom:1px solid #00994469;
  height:32px;
  line-height:32px;
  &>p{
    margin:0 auto;
    color:#666;
    width:1240px;
    padding-left:10px;
    &>span{
      color:#009944;
    }
    &>a{
      margin:0 10px;
      color:#009944;
      cursor:pointer;
    }
  }
}
.header-1-content {
  width: 1240px;
  height: 90px;
  padding-top: 30px;
  background-color: #ffffff;
  display: block;
  position: relative;
  margin: auto;
  &>.header-logo{
    width: 322px;
    height: 48px;
    text-align: center;
    position: relative;
    float: left;
    margin-top:-6px;
    &>a{
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      &>img{
        max-height: 100%;
        margin-left:10px;
      }
    }
  }
  &>.header-input{
    width: 476px;
    height: 38px;
    display: inline-table;
    margin-left: 134px;
    float: left;
    &>input.input_search{
      width: calc(100% - 54px);
      height: 40px;
      float: left;
      font-size: 14px;
      color: #333;
      border: 1px solid #e5e5e5;
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 0 14px;
      display: table-cell;
      margin-top:-2px;
      &:focus{
        border-color: #009944;
      }
    }
    &>a.btn_search{
      width: 52px;
      height: 40px;
      float: left;
      text-align: center;
      background-color: #009944;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: table-cell;
      overflow: hidden;
      cursor:pointer;
      margin-top:-2px;
      &>.fa-fw{
        font-size: 22px;
        color: #fff;
        line-height: 36px;
      }
    }
  }
  &>.header-iconGroup{
    height: 66px;
    float: right;
    display: inline-block;
    margin-top:-14px;
    &>ul{
      height: 60px;
      display: inline-block;
      &>li{
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        border: solid 1px transparent;
        border-radius: 3px;
        margin: 0 5px;
        position: relative;
        &>img{
          max-height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        &>a{
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          &>img{
            max-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
          &>span{
            min-width: 18px;
            height: 18px;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
            background: #c92456;
            border-radius: 9px;
            position: absolute;
            right: 6px;
            top: 3px;
            text-align: center;
            display: inline-block;
          }
        }
        &:hover{
          border: solid 1px #cbcbc5;
          cursor: pointer;
          background: #fcfcf8;
        }
        &.hasList{
          &>.list_login{
            padding:10px 20px;
            display: none;
            &>.btn_login{
              &>a{
                width:100%;
                height:24px;
                font-size: 12px;
                line-height: 24px;
                border: 1px solid #666;
                border-radius:5px;
                background:#e6ca45;
                color:#333;
                outline:none;
                display: inline-block;
                &:hover{
                  background:#e6ca00;
                  color:#fff;
                  cursor:pointer;
                }
              }
              &>a.btn_clear{
                margin-bottom:10px;
              }
              & > p{
                color:#666;
                text-align: left;
                margin: 5px 0 15px 20px;
                a {
                  color:#009944;
                  font-size:12px;
                  margin-left: 5px;
                  &:hover{
                    color: #e6ca45;
                  }
                }
              }
              & > p.login_msg{
                margin: 0 0 7px 0;
              }
            }
            &>.login-list-content{
              width: 100%;
              text-align: left;
              & a{
                padding-bottom: 8px;
                font-size:12px;
                color:#333;
                display: inline-block;
                &:hover{
                  color:#009944;
                  text-decoration: underline;
                }
              }
            }
          }
          &:hover{
            &::after{
              content: "";
              width:200px;
              height:20px;
              background-image: url('/images/platform/icon_prompt.png');
              position: absolute;
              bottom: -15px;
              left: 50%;
              margin-left: -100px;
              z-index: 10001;
            }
            &>.list_login{
              width: 196px;
              height: 100%;
              min-height: 170px;
              margin-top: -1px;
              background-color: #fcfcf8;
              border: solid 1px #e7e7e7;
              border-radius: 5px;
              box-shadow: 0 0 3px rgba(0,0,0,.125);
              position: absolute;
              top: calc(100% + 9px);
              left: 0;
              z-index: 10001;
              display: block;
            }
          }
        }
        &.hasList:nth-last-child(1){
          &:hover > .list_login{
            left: auto;
            right: 0;
            margin-left: -10px;
          }
        }
        &.hasList:nth-last-child(2){
          &:hover > .list_login{
            left: 50%;
            margin-left: -98px;
            margin-top: 5px;
          }
        }
        &.hasList:nth-last-child(n+3){
          left: 0;
        }
      }
    }
  }
}
