@charset "utf-8";

/*
 * licence-1样式
 */
[id^="licence-1-"] {
  width: 100%;
  min-width: 1240px;
  display: block;
  margin: 20px 0;
}
.licence-1-content {
  width: 100%;
  display: block;
  text-align:center;
}
