@charset "utf-8";

/*
 * component-orderSure-1部分样式
 */
[class^="orderSure-1-"]{
  width: 100%;
  min-width: 1240px;
  display: block;
  margin-bottom: 30px;
}
.orderSure-1-content{
  width: 1240px;
  color:#333;
  font-size:14px;
  display: block;
  overflow: hidden;
  margin: auto;
  &>[region="location"]{
    .location-1-content{
      width: 100%;
      font-size:14px;
      display: block;
      background-color: #ffffff;
      overflow:hidden;
      margin: auto;
      user-select: none; /* Non-prefixed version, currently not supported by any browser */
      -moz-user-select: none; /* Firefox */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -webkit-touch-callout: none; /* iOS Safari */
      -khtml-user-select: none; /* Konqueror */
      -ms-user-select: none; /* Internet Explorer/Edge */
      .location-name{
        color:#666;
        padding:10px 0;
        border-bottom:1px solid #dcdcdc;
        &>span{
          color:#333;
          cursor:pointer;
          &:nth-child(2){
            cursor:default;
          }
          &:last-child{
            cursor:default;
          }
          &:hover{
            text-decoration:underline;
          }
          &:nth-child(2):hover{
            text-decoration:none;
          }
          &:last-child:hover{
            text-decoration:none;
          }
        }
        &>b.fa-map-marker{
          color:#009944;
          font-size:15px;
        }
      }
    }
  }
  &>[region="address"]{
    .orderSure-address-1-content{
      width: 1240px;
      color:#333;
      font-size:14px;
      display: block;
      overflow: hidden;
      margin: auto;
      .component-orderSure-address-title{
        font-size:0;
        padding: 20px 0;
        &>span{
          height: 22px;
          font-size: 16px;
          line-height: 22px;
          font-style: normal;
          font-weight: normal;
          vertical-align: middle;
          display: inline-block;
          margin-right: 7px;
          &.volume{
            font-size: 12px;
            padding: 0 3px;
            background-color: #fff8db;
            color: #555;
            height: 20px;
            line-height: 20px;
            font-weight: 500;
            border-radius: 3px;
            display: inline-block;
            &>em{
              font-style: normal;
              font-weight: normal;
            }
          }
        }
        &>b{
          font-weight:normal;
          float:right;
          cursor:pointer;
          font-size:14px;
          color:#666;
          margin-right:20px;
        }
      }
      .component-orderSure-address-list{
        overflow:hidden;
        max-height:124px;
        &.active{
          max-height:inherit;
        }
      }
      .address-item{
        width:290px;
        height:124px;
        border:2px solid #e7e7e7;
        overflow: hidden;
        padding:10px 18px;
        position:relative;
        color:#666;
        float:left;
        margin:20px 20px 0 0;
        cursor:pointer;
      }
      .component-orderSure-address-list .address-item:nth-child(4n){
        margin-right:0;
      }
      .component-orderSure-address-list .address-item:nth-child(1){
        margin-top:0;
      }
      .component-orderSure-address-list .address-item:nth-child(2){
        margin-top:0;
      }
      .component-orderSure-address-list .address-item:nth-child(3){
        margin-top:0;
      }
      .component-orderSure-address-list .address-item:nth-child(4){
        margin-top:0;
      }
      .address-item.default{
        background:url('/images/platform/icon_sure.png') no-repeat right bottom;
        &.active{
          background:url('/images/platform/icon_sure_active.png') no-repeat right bottom;
        }
      }
      .address-item i.active{
        display:block;
      }
      .address-item.active{
        border:2px solid #009944;
      }
      .address-item h2{
        font-size:14px;
      }
      .address-item h2 i{
        font-style:normal;
        position:absolute;
        top:0;right:0;
        font-weight:normal;
        display:none;
        width:60px;
        height:24px;
        line-height:24px;
        color:#fff;
        font-size:12px;
        text-align:center;
        background:rgba(51,51,51,0.24);
      }
      .address-item:hover h2 i:not(.active){
        display:block;
        background:rgba(200,200,200,0.36);
        &:hover{
          background:rgba(136,142,31,0.36);
        }
      }
      .address-item.active h2 i{
        background:rgba(136,142,31,0.36);
      }
      .address-item h2 span{
        font-weight:normal;
      }
      .address-item p{
        margin:10px 0;
        height: 42px;
        line-height:21px;
        position:relative;
        word-break: break-all;
        word-wrap: break-word;
        overflow:hidden;
      }
      .address-item p b{
        font-weight:normal;
        position:absolute;
        right:0;bottom:0;
        width:112px;
        text-align: right;
        background:#fff;
        z-index:300;
      }
      .address-item .item-btn{
        display:none;
      }
      .address-item.active .item-btn{
        display:block;
      }
      .address-item .item-btn span{
        font-size:14px;
        color:#009944;
        cursor:pointer;
      }
      .component-orderSure-address-btnGroup ul{
        overflow: hidden;
        margin-top:14px;
        padding-left: 30px;
      }
      .component-orderSure-address-btnGroup li{
        float:left;
        width:100px;
        height:30px;
        line-height:30px;
        border:1px solid #d0d0d0;
        text-align:center;
        border-radius:4px;
        margin-right:20px;
        cursor:pointer;
      }
      .component-orderSure-address-btnGroup li:last-child{
        margin-right:0;
      }
      .component-orderSure-address-alert{
        position:fixed;
        left:0;top:0;
        width:100%;height:100%;
        background:rgba(51,51,51,0.72);
        z-index:9999;
      }
      .address-add{
        background:#fff;
        width:860px;
        height:450px;
        position:absolute;
        left:50%;top:50%;
        margin-left:-430px;
        margin-top:-225px;
      }
      .address-add p{
        padding-left:92px;
        color:#666;
        font-weight:700;
        background:#e7e7e7;
        height:35px;
        line-height:35px;
        border:1px solid #d7d7d7;
      }
      .address-add p span{
        color:#999;
        font-weight:normal;
      }
      .address-add p b{
        float:right;
        width:24px;
        height:24px;
        line-height:20px;
        border:1px solid #999;
        border-radius:12px;
        text-align:center;
        color:#999;
        background:#fff;
        font-size:20px;
        margin-right:10px;
        margin-top:5px;
        cursor:pointer;
      }
      .address-add-list{
        padding:30px 0 30px 92px;
        /*border:1px solid #e7e7e7;*/
      }
      .address-add-list ul li{
        margin-bottom:16px;
      }
      .address-add-list ul li:last-child{
        margin-bottom:0;
      }
      .address-add-list ul li span{
        display:inline-block;
      }
      .address-add-list ul li span:after{
        content:'*';
        margin:0 16px 0 6px;
        color:#f64949;
      }
      .address-add-list ul li .picker-country{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        &>select{
          min-width:125px;
          max-width:172px;
          height:30px;
          line-height:30px;
          border-radius:5px;
          outline:none;
          border:1px solid #d3d3d3;
          padding-left:10px;
          padding-right:10px;
          margin-right: 7px;
          &.state_error{
            border-color: #f34d4d;
          }
        }
      }
      .address-add-list ul li input{
        height:30px;
        padding:0 10px;
        border:1px solid #d3d3d3;
        outline:none;
        margin-left:-5px;
        width:208px;
        &.state_error{
          border-color: #f34d4d;
        }
      }
      .address-add-list ul li textarea{
        resize: none;
        width:434px;
        height:70px;
        padding:0 10px;
        border:1px solid #d3d3d3;
        outline:none;
        color:#333;
        font-size:14px;
        line-height:30px;
        &.state_error{
          border-color: #f34d4d;
        }
      }
      .address-add-list ul li:nth-child(2) span{
        float:left;
      }
      .address-add-list ul li:last-child input{
        width: 14px;
        height:14px;
        float:left;
        margin:3px 10px 0 84px;
      }
      .address-add-list ul li:last-child i{
        font-style:normal;
        font-size:12px;
      }
      .address-add-list-btn{
        width:62px;
        height:26px;
        line-height:24px;
        border:1px solid #d3d3d3;
        border-radius:3px;
        text-align:center;
        margin:30px 0 0 84px;
        cursor:pointer;
        &>span{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  &>[region="detail"]{
    .orderSure-detail-1-content{
      width: 1240px;
      color:#333;
      font-size:14px;
      display: block;
      overflow: hidden;
      margin: auto;
      .component-orderSure-detail-title{
        font-size:16px;
        color:#333;
        margin:50px 0 20px 0;
      }
      .component-orderSure-detail-orderPrice{
        font-size:18px;
        font-weight:normal;
        text-align:right;
        margin:5px 20px 5px 0;
        &>b{
          color:#f64949;
          &>i{
            font-style:normal;
          }
        }
      }
      .component-orderSure-detail-list-header > ul,
      .component-orderSure-detail-list-body > ul{
        overflow:hidden;
      }
      .component-orderSure-detail-list-header > ul > li,
      .component-orderSure-detail-list-body > ul > li{
        float:left;
        width:146px;
        text-align:center;
      }
      .component-orderSure-detail-list-header > ul > li:first-child,
      .component-orderSure-detail-list-body > ul > li:first-child{
        width:382px;
      }
      .component-orderSure-detail-list-header > ul > li:nth-child(2),
      .component-orderSure-detail-list-body > ul > li:nth-child(2){
        width:176px;
      }
      .component-orderSure-detail-list-header > ul > li:nth-child(3),
      .component-orderSure-detail-list-body > ul > li:nth-child(3){
        width:219px;
      }
      .component-orderSure-detail-list-header{
        height:34px;
        line-height:34px;
        background:#f4f4f4;
        color:#666;
        border-bottom:2px solid #c4c4c4;
      }
      .component-orderSure-detail-list-body > ul{
        height:158px;
        line-height:158px;
        border-bottom:1px solid #e3e3e3;
      }
      .component-orderSure-detail-list-body > ul:last-child{
        border:none;
      }
      .component-orderSure-detail-list-body > ul > li:first-child{
        padding:15px 0;
        position:relative;
      }
      .component-orderSure-detail-list-body > ul > li:first-child #left-icon{
        position: absolute;
        left:25px;
        top:5px;
        width:52px;
        height:52px;
        z-index:99;
        display:none;
      }
      .component-orderSure-detail-list-body > ul > li:first-child ul{
        height:128px;
      }
      .component-orderSure-detail-list-body ul ul{
        line-height:normal;
        overflow: hidden;
      }
      .component-orderSure-detail-list-body ul ul li{
        float:left;
      }
      .component-orderSure-detail-list-body ul ul li:not(:first-child){
        width:200px;
        text-align:left;
      }
      .component-orderSure-detail-list-body li:first-child li:first-child{
        overflow:hidden;
        padding:0 10px 0 20px;
        position: relative;
      }
      .component-orderSure-detail-list-body ul ul li:first-child img{
        float:left;
        width:128px;
        height:128px;
      }
      .component-orderSure-detail-list-body ul ul li:first-child img.corner_mark{
        position: absolute;
        left: 20px;
        top: 0;
        max-width: 60px;
        height: auto;
      }
      .component-orderSure-detail-list-body ul ul li:nth-child(2){
        height: 56px;
        margin-top: 9px;
        text-align: left;
        line-height: 20px;
        overflow: hidden;
      }
      .component-orderSure-detail-list-body ul li:nth-child(4) ul{
        margin-top:59px;
      }
      .component-orderSure-detail-list-body ul li:nth-child(4) li:nth-child(2){
        margin-top:0;
        padding:0 10px 0 20px;
        color:#999;
      }
      .component-orderSure-detail-list-body ul ul li:nth-child(4){
        margin-top:10px;
        color: #666;
        text-align:left;
        line-height:20px;
      }
      .component-orderSure-detail-list-body ul ul li:last-child{
        height: 56px;
        text-align: left;
        overflow: hidden;
      }
      .component-orderSure-detail-list-body ul li:first-child ul li:last-child span{
        display: inline-block;
        background: #f64949;
        color: #fff;
        border-radius: 4px;
        padding: 1px 5px;
        margin: 6px 10px 0 0;
      }
      .component-orderSure-detail-list-footer{
        background:#f7f7f7;
        padding:8px 0;
      }
      .component-orderSure-detail-list-footer p{
        text-align:right;
        padding-right:20px;
        margin-bottom:5px;
      }
      .component-orderSure-detail-list-footer p:last-child{
        margin-top:10px;
      }
      .component-orderSure-detail-list-discount{
        overflow:hidden;
        font-size:14px;
        color:#333;
        &>ul{
          overflow:hidden;
          float:right;
          margin-right:20px;
          &>li{
            float:left;
            overflow:hidden;
            &>input{
              float:left;
              margin:4px 4px 0 4px;
            }
          }
        }
      }
      .component-orderSure-detail-payType{
        overflow:hidden;
      }
      .component-orderSure-detail-payType span{
        float:right;
        margin-top:10px;
      }
      .component-orderSure-detail-payType ul{
        float:right;
        overflow:hidden;
        margin:5px 20px 5px 0;
      }
      .component-orderSure-detail-payType li{
        width: 75px;
        height: 32px;
        text-align: center;
        float:left;
        margin:0 8px;
        border:1px solid #e7e7e7;
        cursor:pointer;
        &>img{
          width: 72px;
          height: 30px;
        }
      }
      .component-orderSure-detail-payType li:last-child{
        margin-right: 0;
      }
      .component-orderSure-detail-payType li.active{
        border-color:#f64949;
        position:relative;
      }
      .component-orderSure-detail-payType li:hover{
        border-color:#f64949;
      }
      .component-orderSure-detail-payType li.active:after{
        content:'';
        position:absolute;
        right:-1px;bottom:-1px;
        border:5px solid transparent;
        border-bottom:5px solid #f64949;
        border-right:5px solid #f64949;
      }
      .component-orderSure-detail-leavingMessage{
        text-align: right;
        margin-right: 20px;
        &>input{
          width: 270px;
          height: 30px;
          background: #eaeaea;
          border-radius: 4px;
          padding-left: 16px;
        }
      }
      .component-orderSure-detail-list-allMsg{
        color:#666;
        overflow:hidden;
      }
      .component-orderSure-detail-list-allMsg ul{
        float:right;
        height:132px;
        padding:10px 20px;
        border:1px solid #f64949;
        text-align:right;
      }
      .component-orderSure-detail-list-allMsg ul li{
        margin-bottom:5px;
      }
      .component-orderSure-detail-list-allMsg ul li i{
        font-style:normal;
      }
      .component-orderSure-detail-list-allMsg ul li:first-child{
        margin-bottom:10px;
      }
      .component-orderSure-detail-list-allMsg ul li:nth-child(2) span{
        font-size:24px;
        color:#c81f52;
      }
      .component-orderSure-detail-list-btn-submit{
        overflow:hidden;
        margin-bottom:40px;
      }
      .component-orderSure-detail-list-btn-submit span{
        float:right;
        font-size:20px;
        color:#fff;
        background:#f64949;
        width:148px;
        height:64px;
        line-height:64px;
        text-align:center;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        &.error_state{
          color: #fff;
          background: #cfcfcf;
          pointer-events: none;
          cursor: none;
        }
      }
    }
  }
}