<div id="advertising-1-{{sign}}" v-cloak>
    <div class="advertising-1-content">
        <ul>
            {{#each cont}}
                <li>
                    <a href="{{{href}}}">
                        <img src="{{{picPath}}}" alt="中国供销海外购">
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
