<div id="advertising-2-{{sign}}" v-cloak>
    <div class="advertising-2-content">
        <a href="/searchProduct.html?upShelves=1&type=2">
            <img src="/images/platform/advertising/1.png" alt="中国供销海外购">
        </a>
        <a href="/searchProduct.html?upShelves=1&type=0">
            <img src="/images/platform/advertising/2.png" alt="中国供销海外购">
        </a>
    </div>
</div>
