<div id="introduce-1-{{sign}}" v-cloak>
    <div class="introduce-1-content">
        <ul class="introduce-group">
            <li>{{#notShow}}<span class="fa fa-check-circle-o fa-fw">{{/notShow}}</span>央企自营</li>
            <li>{{#notShow}}<span class="fa fa-check-circle-o fa-fw">{{/notShow}}</span>正品保障</li>
            <li>{{#notShow}}<span class="fa fa-check-circle-o fa-fw">{{/notShow}}</span>全球直采</li>
            <li>{{#notShow}}<span class="fa fa-check-circle-o fa-fw">{{/notShow}}</span>售后无忧</li>
        </ul>
    </div>
</div>