<div id="navInlet-2-{{sign}}" v-cloak>
    <div class="navInlet-2-content">
        <div class="content-left">
            <a href="/searchProduct.html?goodsName=一般贸易(包邮)&upShelves=1&tag=一般贸易(包邮)">
                <img src="/images/platform/navInlet/navInlet-11.png" alt="中国供销海外购-一般贸易(包邮)">
            </a>
        </div>
        <div class="content-right">
            <div class="item-top">
                <ul>
                    <li>
                        <a href="/searchProduct.html?goodsName=热销榜单&upShelves=1&tag=热销榜单">
                            <img src="/images/platform/navInlet/navInlet-12.png" alt="中国供销海外购-热销榜单">
                        </a>
                    </li>
                    <li>
                        <a href="/searchProduct.html?goodsName=新品推荐&upShelves=1&tag=新品推荐">
                            <img src="/images/platform/navInlet/navInlet-13.png" alt="中国供销海外购-新品推荐">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item-bottom">
                <a href="/searchProduct.html?goodsName=一般贸易&upShelves=1&type=2">
                    <img src="/images/platform/navInlet/navInlet-14.png" alt="中国供销海外购-一般贸易">
                </a>
            </div>
        </div>
    </div>
</div>
