<div id="scrollTop-1-{{sign}}" v-cloak>
    <div class="scrollTop-1-content" v-if="show">
        <div class="scrollTop">
            <img src="/images/platform/scroll/top.png" alt="中国供销海外购">
        </div>
    </div>
</div>