@charset "utf-8";

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body{
  width: 750px;
  height: 100%;
  font-size: 12px;
  background-color: #eeeeee;
  -webkit-overflow-scrolling: touch;
  font-family: PingFangSC-Light,helvetica,'Heiti SC';
  -webkit-font-smoothing: antialiased; /*chrome、safari*/
  -moz-osx-font-smoothing: grayscale;  /*firefox*/
  #body-header{}
  #body-center{
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    min-height: calc(100% - 186px);
  }
  #body-footer{}
}

*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  *zoom: 1;
  font-family: PingFangSC-Light,helvetica,'Heiti SC';
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &[v-cloak]{
    display: none!important;
  }
  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
