@charset "utf-8";

/* DOM样式 */
@import "../config/config-style-1";

/* 元素样式 */
@import "../element/element-a-1";
@import "../element/element-btn-1";
@import "../element/element-input-1";

/* 模块样式 */
@import "../module/nav-1";
@import "../module/error-1";
@import "../module/message-1";
@import "../module/alertDiscount-1";
@import "../module/header-1";
@import "../module/prompt-1";
@import "../module/footer-1";
@import "../module/scrollTop-1";
@import "../module/searchHistory-1";
@import "../module/goodsDetail-1";
@import "../module/customerService-1";

/* 模块样式2 */
@import "../modular/module/module-header-1";
@import "../modular/module/module-footer-1";
@import "../modular/module/module-searchHistory-1";
@import "../modular/module/module-searchProduct-1";
@import "../modular/module/module-message-1";
@import "../modular/module/module-personal-center-1";
@import "../modular/module/module-login-1";
@import "../modular/module/module-register-1";
@import "../modular/module/module-bindInvitation-1";
@import "../modular/module/module-bindMobile-1";
@import "../modular/module/module-personal-information-1";
@import "../modular/module/module-address-manage-1";
@import "../modular/module/module-address-edit-1";
@import "../modular/module/module-shoppingCart-1";
@import "../modular/module/module-orderConfirm-1";
@import "../modular/module/module-orderList-1";
@import "../modular/module/module-logistics-1";
@import "../modular/module/module-alert-discount-1";
@import "../modular/module/module-discount-1";
@import "../modular/module/module-orderDetail-1";
@import "../modular/module/module-forgetPassword-1";
@import "../modular/module/module-pagination-1";
@import "../modular/module/module-site-introduce-1";
@import "../modular/module/module-scroll-top-1";

/* 组件样式 */
@import "../modular/component/component-header-1";
@import "../modular/component/component-footer-1";
@import "../modular/component/component-searchHistory-1";
@import "../modular/component/component-searchProduct-1";
@import "../modular/component/component-message-1";
@import "../modular/component/component-personal-center-1";
@import "../modular/component/component-login-1";
@import "../modular/component/component-register-1";
@import "../modular/component/component-bindInvitation-1";
@import "../modular/component/component-bindMobile-1";
@import "../modular/component/component-personal-information-1";
@import "../modular/component/component-address-manage-1";
@import "../modular/component/component-address-edit-1";
@import "../modular/component/component-shoppingCart-1";
@import "../modular/component/component-orderConfirm-1";
@import "../modular/component/component-orderList-1";
@import "../modular/component/component-logistics-1";
@import "../modular/component/component-alert-discount-1";
@import "../modular/component/component-discount-1";
@import "../modular/component/component-orderDetail-1";
@import "../modular/component/component-forgetPassword-1";
@import "../modular/component/component-pagination-1";
@import "../modular/component/component-pay-choose-1";
@import "../modular/component/component-site-introduce-1";
@import "../modular/component/component-scroll-top-1";
