@charset "utf-8";

/*
 * component-footer-1部分样式
 */
component-footer-1{
  width: 750px;
  height: 98px;
  background-color: rgba(255, 255, 255, 0.98);
  border-top: solid 1px #e7e7e7;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  &>.component-footer-content{
    width: 100%;
    height: 98px;
    &>.component-footer-shortcutIcon{
      width: 100%;
      height: 100%;
      float: left;
      position: relative;
      &.icon_2{
        width: 50%;
        &:not(:first-child)::after{
          content: "";
          width: 1px;
          height: 76px;
          background-color: #dfdfdf;
          position: absolute;
          left: 0;
          top: 11px;
        }
      }
      &.icon_3{
        width: 33.3333333333%;
      }
      &.icon_4{
        width: 25%;
      }
      &>a.icon{
        width: 100%;
        height: 100%;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        &.icon_home{ background-image: url("/images/platform/footer/home.png"); }
        &.icon_home.active{ background-image: url("/images/platform/footer/home_active.png"); }
        &.icon_nav{ background-image: url("/images/platform/footer/nav.png"); }
        &.icon_nav.active{ background-image: url("/images/platform/footer/nav_active.png"); }
        &.icon_personal{ background-image: url("/images/platform/footer/personal.png"); }
        &.icon_personal.active{ background-image: url("/images/platform/footer/personal_active.png");  }
        &.icon_shoppingCart{ background-image: url("/images/platform/footer/shoppingCart.png"); }
        &.icon_shoppingCart.active{ background-image: url("/images/platform/footer/shoppingCart_active.png"); }
        &.icon_shoppingCart > .number{
            width: 28px;
            height: 28px;
            font-family: PingFangSC-Light,helvetica,'Heiti SC';
            font-size: 16px;
            color: #ffffff;
            line-height: 28px;
            text-align: center;
            border-radius: 14px;
            background-color: #f34d4d;
            position: absolute;
            top: 6px;
            left: 50%;
            margin-left: 9px;
          }
      }
    }
    &>.component-footer-goodsDetail{
      width: 100%;
      height: 100%;
      &>.btnBox{
        width: 100%;
        height: 100%;
        &>a{
          float: left;
          height: 98px;
          font-family: PingFangSC-Light,helvetica,'Heiti SC';
          text-align: center;
          font-size: 30px;
          font-weight: 500;
          line-height: 98px;
          &:not(:first-child){
            border-left: solid 1px #d3d3d3;
          }
          &.small{
            width: 148px;
            color: #333333;
            &.icon_top{
              background: #ffffff url("/images/platform/goods/top.png") center center no-repeat;
              -webkit-background-size: 64px 64px;
              background-size: 64px 64px;
            }
            &.icon_back{
              background: #ffffff url("/images/platform/goods/back.png") center center no-repeat;
              -webkit-background-size: 64px 64px;
              background-size: 64px 64px;
              display: none;
            }
          }
          &.large{
            width: calc(50% - 74px);
            &.text_toBuy{
              color: #333333;
            }
            &.text_addShopCart{
              background-color: #b4282d;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
