@charset "utf-8";

/* 常规风格 */
$red: #f34d4d;
$black: #333333;

$textColor_light: #999999;
$textColor_medium: #666666;
$textColor_dark: #333333;

$borderColor_light: #dfdfdf;
$borderColor_medium: #e4e4e4;
$borderColor_dark: #c4c4c4;

$bgColor_light: #cccccc;
$bgColor_medium: #eeeeee;
$bgColor_dark: #f3f3f3;

$textColor_success: #3c763d;
$textColor_success_medium: #2b542c;

$textColor_info: #31708f;
$textColor_info_medium: #245269;

$textColor_primary: #337ab7;
$textColor_primary_medium: #286090;
$textColor_primary_dark: #0e5ea1;

$textColor_warning: #8a6d3b;
$textColor_warning_medium: #66512c;

$textColor_danger: #a94442;
$textColor_danger_medium: #843534;

$bgColor_success: #dff0d8;
$bgColor_success_medium: #c1e2b3;

$bgColor_info: #d9edf7;
$bgColor_info_medium: #afd9ee;

$bgColor_primary: #337ab7;
$bgColor_primary_medium:  #286090;
$bgColor_primary_dark:  #0e5ea1;

$bgColor_warning: #fcf8e3;
$bgColor_warning_medium: #f7ecb5;

$bgColor_danger: #f2dede;
$bgColor_danger_medium: #e4b9b9;
