<div class="component-forgetPassword-content">
    <div class="component-forgetPassword-account {{account_state}}">
        <span class="iconLeft"></span>
        <input type="tel" pattern="[0-9]*" id="account" name="account" placeholder="请输入手机号码..." can-value="region.request.account"/>
        <span class="iconRight icon_clear"></span>
    </div>
    <div class="component-forgetPassword-validation {{validation_state}}">
        <span class="iconLeft"></span>
        <input type="text" id="validation" name="validation" placeholder="请输入验证码..." can-value="region.request.validation"/>
        <span class="textRight getValidation">
            <span class="doing">发送中<span class="val" style="color:red;padding:0 3px;"></span>s</span>
            <span class="control">获取验证码</span>
        </span>
    </div>
    <div class="component-forgetPassword-password {{password_state}}">
        <span class="iconLeft"></span>
        <input type="password" id="password" name="password" placeholder="请输入6-12位密码..." can-value="region.request.password"/>
        <span class="iconRight icon_eye"></span>
    </div>
    <div class="component-forgetPassword-confirmPassword  {{confirmPassword_state}}">
        <span class="iconLeft"></span>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="请再次确认密码..." can-value="region.request.confirmPassword"/>
        <span class="iconRight icon_eye"></span>
    </div>
    <a href="javascript:void(0)" class="btn component-forgetPassword-forgetPasswordBtn {{forgetPasswordBtn_state}}">提交密码</a>
</div>