<div class="component-searchHistory-content">

    {{#returnHistory region.config.historyCache}}
        <div class="component-searchHistory-cache">
            <h1>历史记录</h1>
            <span class="icon_delete">
               <img src="/images/platform/header/i_delete.png" alt="中国供销海外购">
            </span>
            <ul>
                {{#each region.config.historyCache}}
                    {{#setRenderRange @index 0 9}}
                        <li firstId="{{firstId}}" secondId="{{secondId}}" thirdId="{{thirdId}}">{{goodsName}}</li>
                    {{/setRenderRange}}
                {{/each}}
            </ul>
        </div>
    {{/returnHistory}}

    {{#returnHotSearch region.config.hotSearchList}}
        <div class="component-searchHistory-hot">
            <h1>热门搜索</h1>
            <ul>
                {{#each region.response.hotSearchList}}
                    {{#setRenderRange @index 0 6}}
                        <li firstId="{{firstId}}">{{industryName}}</li>
                    {{/setRenderRange}}
                {{/each}}
            </ul>
        </div>
    {{/returnHotSearch}}
</div>