<div class="component-site-introduce-content">
   <ul class="component-site-introduce-group">
       <li><span class="fa fa-check-circle-o fa-fw"></span>跨境电商央企品牌</li>
       <li><span class="fa fa-check-circle-o fa-fw"></span>供应链正关渠道直采</li>
       <li><span class="fa fa-check-circle-o fa-fw"></span>品牌商品正品信赖</li>
   </ul>
</div>