<div class="component-address-manage-content">
    {{#returnList region.response}}
        <ul class="component-address-manage-list">
            {{#each .}}
                <li class="item {{#region.config.isFormOrder}}select{{/region.config.isFormOrder}}" id="{{id}}">
                    <div class="info">
                <span class="name">
                    {{receiveName}}
                </span>
                        <span class="mobilePhone">
                            {{receivePhone}}
                        </span>
                        <span class="address">
                    {{province}}{{city}}{{area}}{{address}}
                </span>
                    </div>
                    <div class="setting">
                        <div class="btnBox_left {{#if setDefault}}active{{/if}}">
                            <span class="icon btn"></span>
                            <span class="text"></span>
                        </div>
                        {{^region.config.isFormOrder}}
                            <div class="btnBox_right">
                                <a href="javascript:void(0)" class="btn btn_remove">删除</a>
                                <a href="/address-edit.html?edit={{id}}" class="btn btn_edit">编辑</a>
                            </div>
                        {{/region.config.isFormOrder}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/returnList}}
    {{^returnList region.response}}
        <ul class="component-address-manage-empty">
            <img src="/images/platform/address/empty.png" alt="中国供销海外购">
            <span>暂无收货地址信息</span>
        </ul>
    {{/returnList}}
    <div class="component-address-manage-create">
        <div class="box">
            <a href="/address-edit.html" class="btn content">添加新地址</a>
        </div>
    </div>
</div>