@charset "utf-8";

/*
 * module-amount-accesst-1部分样式
 */
body{
  background: #eee;
}
div[id^="amount-access-1-"]{
  padding-top: 155px;
  background: url('/images/platform/joinUs/join_bgImg01.png') no-repeat 0 0;
  &>.amount-access-1-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    text-align: center;
    margin-top: 80px;
    opacity: 0.5;
  }
  & .list-item{
    margin-bottom: 20px;
    overflow: hidden;
    color: #333;
    position: relative;
  }
  & .list-item input[type="text"],.list-item select,.list-item textarea{
    box-sizing: border-box;
    width: calc(100% - 100px);
    margin: 0 50px;
    height: 86px;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
    font-size: 30px;
    line-height: inherit;
    outline: none;
    background-color: #fff;
    border: solid 1px #cccccc;
    border-radius: 15px;
    padding: 0 30px
  }
  & .list-item select{
    padding: 0;
    text-indent: 30px;
    appearance: none;
    -webkit-appearance: none;
    background: url("/images/platform/joinUs/arrow_01.png") no-repeat scroll 605px center #fff;
    padding-right: 45px;
  }
  & .list-item input[type="text"].state_error,.list-item select.state_error,.list-item textarea.state_error{
    border: 1px solid #f00;
  }
  &  .list-item textarea{
    padding: 20px 30px;
    height: 260px;
  }
  & .list-item select{
    color: #333;
  }
  & .btn-submit{
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 100px);
    margin: 30px 50px 0 50px;
    height: 86px;
    line-height: 86px;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
    font-size: 36px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #b4282d;
  }
  & .userAddress{
    overflow: hidden;
    &>select{
      width: 320px;
      float: left;
      background: url("/images/platform/joinUs/arrow_01.png") no-repeat scroll 275px center #fff;
      margin: 0 0 0 50px;
      &.userAddress-city{
        float: right;
        margin: 0 50px 0 0;
      }
    }
  }
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #999;
}
