@charset "utf-8";

/*
 * header-1样式
 */
[id^='header-1-']{
  width: 750px;
  height: 88px;
  display: block;
  position: relative;
}
.header-1-content{
  width: 750px;
  height: 88px;
  display: block;
  background-color: #ffffff;
  border-bottom: solid 1px #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &>.header-left{
    height: 88px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 12px;
    &>a{
      width: auto;
      height: 64px;
      color: #333;
      font-family: PingFangSC-Light,helvetica,'Heiti SC';
      font-size: 32px;
      line-height: 63px;
      text-align: center;
      display: inline-block;
      position: relative;
      margin-top: 12px;
      &:not(:first-child){
        margin-left: 10px;
      }
      &.btn{
        border-radius: 15px;
        display: inline-block;
        position: relative;
      }
      &.text{
        padding: 0 7px;
        vertical-align: top;
        display: inline-block;
      }
      &.icon{
        &.icon_home{
          width: 64px;
          background: url("/images/platform/header/home.png") no-repeat center center;
        }
        &.icon_back{
          width: 64px;
          background: url("/images/platform/header/back.png") no-repeat center center;
        }
        &.icon_scan{
          width: 64px;
          background: url("/images/platform/header/scan.png") no-repeat center center;
        }
      }
    }
  }
  &>.header-title{
    max-width: 300px;
    height: 88px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    &.title_text{
      font-family: PingFangSC-Light,helvetica,'Heiti SC';
      text-align: center;
      color: #333;
      font-size: 36px;
      line-height: 85px;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &.title_shop{
      height: 64px;
      margin-top: 12px;
      padding-left: 27px;
      &>.shopImg{
        width: 58px;
        height: 58px;
        float: left;
        margin-right: 7px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 1.5px #333;
        vertical-align: middle;
        text-align: center;
        &>img{
          width: 90%;
          height: 90%;
          margin-top: 3%;
        }
      }
      &>.shopText{
        width: 180px;
        height: 58px;
        float: left;
        vertical-align: middle;
        &>span:first-child{
          display: inline-block;
          width: 100%;
          color: #4e4e4e;
          font-size: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 900;

        }
        &>span:last-child{
          display: inline-block;
          width: 100%;
          color: #4e4e4e;
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;;
          font-weight: 600;
        }
      }
    }
  }
  &>.header-input{
    width: 580px;
    height: 60px;
    display: block;
    background-color: #ededed;
    margin: 14px 0 0 86px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    & .i_search{
      width: 64px;
      height: 60px;
      display: block;
      background: #ededed url("/images/platform/header/i_search.png") no-repeat center center;
    }
    & input{
      width: calc(100% - 60px);
      height: 60px;
      color: #333;
      font-size: 27px;
      position: absolute;
      top: 0;
      left: 60px;
      &:-moz-placeholder {
        color:#666;
      }
      &::-moz-placeholder {
        color:#666;
      }
      &::-webkit-input-placeholder {
        color:#666;
      }
      &:-ms-input-placeholder {
        color:#666;
      }
    }
    & .i_clear{
      width: 56px;
      height: 60px;
      display: none;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      background: #ededed url("/images/platform/header/i_clear.png") no-repeat center center;
    }
    &.isFocus{
      width: 610px;
      margin: 14px 0 0 20px;
      & .i_clear{
        display: block;
      }
    }
  }
  &>.header-right{
    height: 88px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: auto;
    right: 12px;
    &>a{
      width: auto;
      height: 64px;
      color: #333;
      font-family: PingFangSC-Light,helvetica,'Heiti SC';
      font-size: 32px;
      line-height: 63px;
      text-align: center;
      display: inline-block;
      position: relative;
      margin-top: 12px;
      &:not(:last-child){
        margin-right: 10px;
      }
      &.btn{
        border-radius: 15px;
        display: inline-block;
        position: relative;
      }
      &.text{
        padding: 0 15px;
        vertical-align: top;
        display: inline-block;
      }
      &.icon{
        &.icon_search{
          width: 64px;
          background: url("/images/platform/header/search.png") no-repeat center center;
        }
        &.icon_shopCart{
          width: 64px;
          background: url("/images/platform/header/shopCart.png") no-repeat center center;
          &>.shopCartCount{
            min-width: 34px;
            height: 34px;
            text-align: center;
            border-radius: 17px;
            line-height: 34px;
            font-weight: 400;
            font-size: 20px;
            color: #ffffff;
            background-color: #b4282d;
            position: absolute;
            top: -10px;
            right: -10px;
          }
        }
        &.icon_shopCartEdit{
          width: 64px;
          background: url("/images/platform/header/edit.png") no-repeat center center;
        }
        &.icon_shopCartSave{
          width: 64px;
          background: url("/images/platform/header/sure.png") no-repeat center center;
        }
        &.icon_AddressManage{
          width: 64px;
          background: url("/images/platform/header/edit.png") no-repeat center center;
        }
        &.icon_AddressSure{
          width: 64px;
          background: url("/images/platform/header/sure.png") no-repeat center center;
        }
        &.icon_orderList{
          width: 64px;
          background: url("/images/platform/header/order.png") no-repeat center center;
        }
        &.icon_choose{
          width: 64px;
          background: url("/images/platform/header/sure.png") no-repeat center center;
        }
        &.icon_close{
          width: 64px;
          background: url("/images/platform/header/close.png") no-repeat center center;
        }
        &.icon_news{
          width: 64px;
          background: url("/images/platform/header/news.png") no-repeat center center;
        }
      }
    }
    &>.info_shop{
      width: 192px;
      height: 64px;
      margin-top: 12px;
      overflow: hidden;
      &>.shopImg{
        width: 58px;
        height: 58px;
        float: left;
        margin-right: 7px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 1.5px #333;
        vertical-align: middle;
        text-align: center;
        &>img{
          width: 90%;
          height: 90%;
          margin-top: 3%;
        }
      }
      &>.shopText{
        width: 125px;
        height: 58px;
        float: left;
        vertical-align: middle;
        &>span:first-child{
          display: block;
          width: 100%;
          height: 35px;
          color: #4e4e4e;
          font-size: 24px;
          line-height: 35px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 900;
        }
        &>span:last-child{
          display: block;
          width: 100%;
          height: 25px;
          color: #4e4e4e;
          font-size: 18px;
          line-height: 23px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 600;
        }
      }
    }
  }
}
