@charset "utf-8";

/*
 * message-1样式
 */
[id^='message-1-']{
  width: 750px;
  display: block;
  position: relative;
  overflow: hidden;
}
.message-1-content{
  width: 623px;
  height: auto;
  overflow: hidden;
  border: solid 1px #888e1f;
  border-radius: 25px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.36);
  -ms-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.36);
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 999999;
  margin: -220px auto 0 auto;
  &.completed{
    &>.message-header{
      width: 100%;
      height: 122px;
      background-color: #888e1f;
      position: relative;
      &>.message-text{
        width: 100%;
        height: 100%;
        font-family: PingFangSC-Light,helvetica,'Heiti SC';
        font-size: 42px;
        font-weight: 600;
        line-height: 90px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
      }
      &>.message-icon{
        width: 92px;
        height: 92px;
        display: inline-block;
        position: absolute;
        top: auto;
        left: 266px;
        bottom: -44px;
        z-index: 1550;
        background-size: cover;
        &.icon_info{
          background-image: url("/images/module/message/message_info.png");
        }
        &.icon_warning{
          background-image: url("/images/module/message/message_warning.png");
        }
        &.icon_success{
          background-image: url("/images/module/message/message_success.png");
        }
        &.icon_error{
          background-image: url("/images/module/message/message_error.png");
        }
      }
    }
    &>.message-body{
      width: 100%;
      min-height: 196px;
      padding: 46px 60px 0 60px;
      border-bottom: dashed 1px rgba(206, 206, 206, 0.98);
      background-color: rgba(255, 255, 255, 0.98);
      position: relative;
      &>.message-table{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        border-spacing: 0;
        border-collapse: collapse;
        &>tbody>tr>td{
          height: 125px;
          text-align: center;
          vertical-align: middle;
          &>span{
            font-family: PingFangSC-Light,helvetica,'Heiti SC';
            font-size: 30px;
            line-height: 49px;
            font-weight: 400;
            color: #666666;
            text-align: left;
            text-indent: 20px;
            display: inline-block;
          }
        }
      }
    }
    &>.message-footer{
      width: 100%;
      height: 132px;
      background-color: rgba(255, 255, 255, 0.98);
      position: relative;
      &>.message-btnGroup{
        width: 100%;
        height: 100%;
        display: inline-block;
        &>.btn{
          width: 212px;
          height: 72px;
          float: right;
          margin-top: 30px;
          margin-right: 66px;
          font-family: PingFangSC-Light,helvetica,'Heiti SC';
          font-size: 36px;
          line-height: 70px;
          text-align: center;
          color: #333333;
          border: solid 1px #888e1f;
          border-radius: 15px;
          background-color: #ffffff;
          display: inline-block;
          &.btn_confirm{
            color: #888e1f;
            border-color: #888e1f;
            &:active{
              color: #ffffff;
              border-color: #888e1f;
              background-color: #888e1f;
            }
          }
          &.btn_cancel{
            color: #f34d4d;
            border-color: #f34d4d;
            &:active{
              color: #ffffff;
              border-color: #f34d4d;
              background-color: #f34d4d;
            }
          }
        }
      }
    }
  }
  &.unCompleted{
    width: 533px;
    margin: -160px auto 0 auto;
    &>.message-body{
      width: 100%;
      min-height: 156px;
      padding: 15px 15px 0 15px;
      border-bottom: dashed 1px rgba(206, 206, 206, 0.98);
      background-color: rgba(255, 255, 255, 0.98);
      position: relative;
      &>.message-table{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        border-spacing: 0;
        border-collapse: collapse;
        &>tbody>tr>td{
          height: 125px;
          text-align: center;
          vertical-align: middle;
          &>span{
            font-family: PingFangSC-Light,helvetica,'Heiti SC';
            font-size: 30px;
            line-height: 49px;
            font-weight: 400;
            color: #666666;
            text-align: left;
            text-indent: 20px;
            display: inline-block;
          }
        }
      }
    }
  }
}
