@charset "utf-8";

/*
 * navInlet-1部分样式
 */
[id^='navInlet-1-']{
  width: 750px;
  display: block;
  position: relative;
  background-color: #ffffff;
}
.navInlet-1-content{
  padding: 40px 48px 0 48px;
  & > ul {
    overflow: hidden;
    & > li{
      width: 78px;
      height: 92px;
      float: left;
      margin-right: 66px;
      margin-bottom: 40px;
      &:nth-child(5n) {
        margin-right: 0;
      }
      & > a {
        width: 100%;
        height: 100%;
        display: inline-block;
        & > img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
