<div id="alertDefault-1-{{sign}}" v-cloak>
    <div class="alertDefault-1-content">
        <span v-if="content">
            <span>温馨提示</span>
           <br>
            <span>{{!content}}</span>
        </span>
    </div>
</div>