<div id="amount-access-1-{{sign}}" v-cloak>
    <div class="amount-access-1-content">
        <img src="/images/platform/loadingPage/lodingPage-001.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-002.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-003.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-004.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-005.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-006.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-007.jpg" alt="中国供销海外购-加入我们">
        <img src="/images/platform/loadingPage/lodingPage-008.jpg" alt="中国供销海外购-加入我们">
    </div>
</div>
