<div id="footer-img-1-{{sign}}" v-cloak>
    <div class="footer-img-1-content">
        <div class="title-msg">
            <img src="/images/platform/footer_title.png" alt="中国供销海外购">
        </div>
        <div class="content-msg">
            <img src="/images/platform/footer_gif.gif" alt="中国供销海外购">
            <img src="/images/platform/footer_img.png" alt="中国供销海外购">
        </div>
    </div>
</div>