<div id="shop-show-1-{{sign}}" v-cloak>
    <div class="shop-show-1-content">
        <div class="shop-show-type">
            <ul>
                <li data-type="0" :class="showType == 0?'active':''" @click="chooseTypeClick">区域运营中心</li>
                <li data-type="1" :class="showType == 1?'active':''" @click="chooseTypeClick">城市合伙人</li>
                <li data-type="2" :class="showType == 2?'active':''" @click="chooseTypeClick">微店主</li>
            </ul>
        </div>
        <div class="area-content item-content active">
            <ul>
                <li><img src="/images/platform/area/1.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/2.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/3.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/4.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/5.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/6.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/7.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/8.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/9.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/10.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/11.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/12.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/13.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/14.png" alt="中国供销海外购-区域运营中心"></li>
                <li><img src="/images/platform/area/15.png" alt="中国供销海外购-区域运营中心"></li>
            </ul>
        </div>
        <div class="partner-content item-content">
            <ul>
                <li><img src="/images/platform/partner/1.png" alt="中国供销海外购-城市合伙人"></li>
                <li><img src="/images/platform/partner/2.png" alt="中国供销海外购-城市合伙人"></li>
                <li><img src="/images/platform/partner/3.png" alt="中国供销海外购-城市合伙人"></li>
                <li><img src="/images/platform/partner/4.png" alt="中国供销海外购-城市合伙人"></li>
                <li><img src="/images/platform/partner/4.png" alt="中国供销海外购-城市合伙人"></li>
                <li><img src="/images/platform/partner/4.png" alt="中国供销海外购-城市合伙人"></li>
            </ul>
        </div>
        <div class="shop-content item-content">
            <ul>
                <li><img src="/images/platform/shop/1.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/2.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/3.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/4.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/5.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/6.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/7.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/8.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/9.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/10.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/11.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/12.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/13.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/14.png" alt="中国供销海外购-微店主"></li>
                <li><img src="/images/platform/shop/15.png" alt="中国供销海外购-微店主"></li>
            </ul>
        </div>
    </div>
</div>
